@page "/companydetail/{CompanyId}"


<h1 class="page-title">Dane firmy:  @company.Name </h1>


<section class="employee-edit">

        <div class="form-group row">
            <label for="Name" class="col-sm-1">Nazwa firmy: </label>
            <label id="Name" class="form-control col-sm-3">@company.Name</label>
            <label for="symbol" style="margin-left: 15px; margin-right:4px" class="">Symbol: </label>
            <label id="symbol" class="form-control col-sm-2">@company.Short_Name</label>
            <label for="country" style="margin-left: 15px; margin-right:4px" class="">Kraj: </label>
            <label id="country" class="form-control col-sm-1">@company.Country</label>
            <label for="NIP" style="margin-left: 15px; margin-right:4px" class="">NIP: </label>
            <label id="NIP" class="form-control col-sm-1">@company.NIP</label>
          
        </div>

        <div class="form-group row">
            <label for="clientType" class="col-sm-1">Typ klienta: </label>
            <label id="clientType" class="form-control col-sm-2"></label>
            <label for="discount" style="margin-left: 15px; margin-right:4px" class="">Rabat: </label>
            <label id="discount" class="form-control col-sm-1">@company.Discount</label>
            <label for="paymentMethod" style="margin-left: 15px; margin-right:4px">Metoda płatności: </label>
            <label id="paymentMethod" class="form-control col-sm-2">@company.Payment_Method</label>
        </div>

        <div class="form-group row">
            <label for="fullAddress" style="margin-left: 15px; margin-right:12px">Adres siedziby: </label>
            <label id="fullAddress" class="form-control col-sm-8">@company.Full_Address</label>
        </div>

        <div class="form-group row">
            <label for="postalCode" style="margin-left: 15px; margin-right:12px">Kod pocztowy: </label>
            <label id="postalCode" class="form-control col-sm-1">@company.Postal_Code</label>
            <label for="city" style="margin-left: 15px; margin-right:4px">Miasto: </label>
            <label id="city" class="form-control col-sm-1">@company.City</label>
            <label for="phoneNumber" style="margin-left: 15px; margin-right:4px">Telefon: </label>
            <label id="phoneNumber" class="form-control col-sm-1">@company.Phone_Number</label>
            <label for="mobileNumber" style="margin-left: 15px; margin-right:4px">Tel. Kom.: </label>
            <label id="mobileNumber" class="form-control col-sm-1">@company.Mobile_Phone</label>
            <label for="email" style="margin-left: 15px; margin-right:4px">E-mail: </label>
            <a href="mailto:@company.Email" id="email" class="form-control col-sm-1">@company.Email</a>
        </div>
        <div class="form-group row">
            <label for="www" style="margin-left: 15px; margin-right:12px">WWW: </label>
            <a href="@company.WWW" id="www" class="form-control col-sm-8">@company.WWW</a>
        </div>
</section>