@page "/companyedit"
@page "/companyedit/{idCompany}"
@using Spark.Invoice.Data.Models;
@using Spark.Invoice.Data.Services;
@using System.Reflection.Metadata
@inherits CompanyEdit1

@if (!Saved)
{

    <section class="employee-edit">

        <div class="alert @StatusClass">@Message</div>

        <h1 class="page-title">Dane kontrahenta @_company.Name </h1>

        <EditForm Model="@_company" OnSubmit="@HandleValidSubmit">

            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="form-group row">
                <label for="Name" class="col-sm-1">Nazwa firmy: </label>
                <InputText id="Name" @bind-Value="@_company.Name" class="form-control col-sm-3" placeholder="Wpisz nazwę"></InputText>
                <label for="symbol" style="margin-left: 15px; margin-right:4px" class="">Symbol: </label>
                <InputText id="symbol" class="form-control col-sm-2" @bind-Value="@_company.Short_Name" placeholder="Symbol"></InputText>
                <label for="country" style="margin-left: 15px; margin-right:4px" class="">Kraj: </label>
                <InputText id="country" class="form-control col-sm-1" @bind-Value="@_company.Country" placeholder="kraj"></InputText>
                <label for="NIP" style="margin-left: 15px; margin-right:4px" class="">NIP: </label>
                <InputText id="NIP" class="form-control col-sm-1" @bind-Value="@_company.NIP" placeholder="NIP"></InputText>
                @*<ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => @_company.Name)"/>*@
            </div>

            <div class="form-group row">
                <label for="clientType" class="col-sm-1">Typ klienta: </label>
                <InputSelect id="clientType" class="form-control col-sm-2" @bind-Value="@_company.Client_Type">
                    <option value="TypKlienta"> </option>
                    @foreach (var type in _clientType)
                        {
                        <option value="@type.Client_Type">@type.Client_Type</option>
                        }
                </InputSelect>
                <label for="discount" style="margin-left: 15px; margin-right:4px" class="">Rabat: </label>
                <InputNumber id="discount" class="form-control col-sm-1" @bind-Value="@_company.Discount" placeholder="Rabat"></InputNumber>
                <label for="paymentMethod" style="margin-left: 15px; margin-right:4px">Metoda płatności: </label>
                <InputSelect id="paymentMethod" class="form-control col-sm-2" @bind-Value="@_company.Payment_Method">
                    <option value="Payment_Method_Name"> </option>
                    @foreach (var method in _paymentMethods)
                        {
                        <option value="@method.Payment_Method_Name">@method.Payment_Method_Name</option>
                        }
                </InputSelect>
            </div>

            <div class="form-group row">
                <label for="fullAddress" style="margin-left: 15px; margin-right:12px">Adres siedziby: </label>
                <InputText id="fullAddress" class="form-control col-sm-8" @bind-Value="@_company.Full_Address" placeholder="Adres"></InputText>
            </div>

            <div class="form-group row">
                <label for="postalCode" style="margin-left: 15px; margin-right:12px">Kod pocztowy: </label>
                <InputText id="postalCode" class="form-control col-sm-1" @bind-Value="@_company.Postal_Code" placeholder="kod pocztowy"></InputText>
                <label for="city" style="margin-left: 15px; margin-right:4px">Miasto: </label>
                <InputText id="city" class="form-control col-sm-1" @bind-Value="@_company.City" placeholder="miasto"></InputText>
                <label for="phoneNumber" style="margin-left: 15px; margin-right:4px">Telefon: </label>
                <InputText id="phoneNumber" class="form-control col-sm-1" @bind-Value="@_company.Phone_Number" placeholder="Tel."></InputText>
                <label for="mobileNumber" style="margin-left: 15px; margin-right:4px">Tel. Kom.: </label>
                <InputText id="mobileNumber" class="form-control col-sm-1" @bind-Value="@_company.Mobile_Phone" placeholder="tel.kom"></InputText>
                <label for="email" style="margin-left: 15px; margin-right:4px">E-mail: </label>
                <InputText id="email" class="form-control col-sm-1" @bind-Value="@_company.Email" placeholder="e-mail"></InputText>
            </div>
            <div class="form-group row">
                <label for="www" style="margin-left: 15px; margin-right:12px">WWW: </label>
                <InputText id="www" class="form-control col-sm-8" @bind-Value="@_company.WWW" placeholder="WWW"></InputText>
            </div>
            <a class="btn btn-primary edit-btn text-white" @onclick="@MoreInfoBtnClick">Dane dodatkowe</a>
            <button type="submit" class="btn btn-primary edit-btn">Zapisz</button>
            @if (_company.Id > 0)
            {
                <a class="btn btn-danger" @onclick="@DeleteCompany">
                    Usuń
                </a>
            }
        </EditForm>
    </section>
    <section>
        @if (buttonValue % 2 == 0)
        {
            <div class="w3-bar w3-black">
                <button class="w3-bar-item w3-button tablink w3-green" onclick="openTab(event, 'finances')">Finansowe</button>
                <button class="w3-bar-item w3-button tablink" onclick="openTab(event, 'departments')">Oddziały</button>
                <button class="w3-bar-item w3-button tablink" onclick="openTab(event, 'bankAccounts')">Konta bankowe</button>
            </div>

            <div id="finances" class="w3-container w3-border tabName">
                <div class="row">
                    <div class="col-6 text-center border-right border-dark">
                        <h3 class="text text-secondary">Konta bankowe</h3>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Numer konta</th>
                                <th>Numer konta VAT</th>
                                <th>Bank</th>
                                <th>SWIFT</th>
                                <th>Aktywne</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-6">Tytuł 1</div>
                </div>
            </div>

            <div id="departments" class="w3-container w3-border tabName" style="display: none">
                <div class="row">
                    <div class="col-6 text-center border-right border-dark">
                        <h3 class="text text-secondary">Konta bankowe</h3>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Adres</th>
                                <th>Kod pocztowy</th>
                                <th>Miasto</th>
                                <th>Kraj</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var a in Addresses)
                            {
                                <tr>
                                    <td>@a.Address_Full </td>
                                    <td>@a.Address_Postal_Code </td>
                                    <td>@a.Address_City </td>
                                    <td>@a.Address_Country </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                    <div class="col-6">Tytuł 1</div>
                </div>
            </div>

            <div id="bankAccounts" class="w3-container w3-border tabName" style="display: none">
               
            </div>
        }



    </section>
}
else
{
        <div class="alert @StatusClass">@Message</div>
        <a class="btn btn-outline-primary" @onclick="@NavigateToOverview">Powrót</a>

    }